[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "1.4.29"
fints = "3.0.1"
Pillow = "9.0.0"
tkcalendar = "1.6.1"

[dev-packages]
pylint = "*"
sphinx = "*"
sphinx-intl = "*"
sphinx-rtd-theme = "*"
pyinstaller = "*"
stdeb = "*"
pip-tools = "*"
virtualenv = "*"
faker = "*"
sqlalchemy-schemadisplay = {path = "./tests/vendor/sqlalchemy_schemadisplay-master"}
graphviz = "*"
pygraphviz = "*"
eralchemy = "*"

[requires]
python_version = "3.8"
