[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
Pillow = "*"
tkcalendar = "*"
fints = {ref = "846c25f5f6ae578cde5151fc30b5f7a3601a95ac", git = "git://github.com/raphaelm/python-fints.git"}

[dev-packages]
pylint = "*"
sphinx = "*"
sphinx-intl = "*"
sphinx-rtd-theme = "*"
pip-tools = "*"
virtualenv = "*"
faker = "*"
sqlalchemy-schemadisplay = {path = "./tests/vendor/sqlalchemy_schemadisplay-master"}

[requires]
python_version = "3.10"
